/* GOLOBAL  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  

body {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
   
    font-family: 'Nunito', sans-serif;
}
button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}



/* .......Class dùng chung....  */
:root{
    --text-primary: #dc4f72;
    --text-heading: #2c3038;
    --text-color: #5a5a5a;
    --text-navs : #4E5B61;
    --text-footer: #656f7b;
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --img-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    --light-bg-color: #F7F9FC; 
    --white-bg-color: #fff;
    --card-bg-color: #fff;
    --white-boder: #eee;

}
[data-theme="dark"] {
    --text-primary: #dc4f72;
    --text-heading: #dddd;
    --text-color: #afafaf;
    --text-navs : #4E5B61;
    --text-footer: #afafaf;
    --white-bg-color: #151515; 
    --light-bg-color:rgba(0, 0, 0, 0.822);
    --white-boder: rgba(0, 0, 0, 0.822);
    --card-bg-color: rgba(0, 0, 0, 0.822);
  }
h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}
ul{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
button{
    outline: none;
    border:none;
}

.container__custom{
    padding: 0 25px 0;
}
.btn-custom{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 52px;
    text-transform: uppercase;
    color: var(--text-primary);
    border-color: var(--text-primary);
    transition: all .5s ;
    padding: 0px 30px;
}
.btn-custom:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
.title{
    color: var(--text-primary);
    font-weight:600;
    margin: 0;
}
.heading{
    color: var(--text-heading);
    font-size: 46px;
    font-weight: 600;
}
.text{
    color: var(--text-color);
}
.main{
    text-align: center;
    max-width: 721px;
    margin: auto;
    padding: 50px 0;
}
.btn-color {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-white {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-white:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}


/* HEADER */
header {
    background-color: var(--white-bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    padding: 0;
}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-primary);
    letter-spacing: -1px;
}
.navbar .navbar-brand span.fa {
    display: inline-block;
    color: var(--text-primary);
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
}
.navbar-expand-lg  .nav-item.active .nav-link{
    color: var(--text-primary);
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(
45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}
.dropdown-menu {
    border-radius: 6px;
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
header.nav-fixed {
    padding: 0px;
    background-color: var(--text--white);
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

/* menu  */
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-heading);
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--text-primary);
}
a.nav-link:before {
    position: absolute;
    content: '';
    background: var(--text-primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before, a.dropdown-item:hover:before {
    width: 20px;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--text-primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
}
a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: var(--title-color);
    position: relative;
    padding-bottom: 14px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
}
a.dropdown-item:hover {
    color: var(--text-primary);
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
}
/* ...........CAROSEL...........  */
.carosel__content {
    z-index: 1;
    overflow: hidden;
    background: var(--text--white);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 10rem;
}

.carosel__content .img__right{
    transform: rotate(180deg);
}

.carosel__content .text__lert{
    padding-top: 100px;
}
.carosel__content .text__lert h3{
    font-size: 50px;
    line-height: 57.5px;
    color: #2c3038;
    font-weight: 700;
}
.carosel__content .text__lert .plert{
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}
/* ...........STARTUP............. */
.startup-index {
    background-color: var(--white-bg-color);
}
.startup-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.startup-section h3 {
    color: var(--text-heading);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.startup-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.startup-index .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--text-heading);
    font-weight: 700;
}

.startup-index .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
img.img-curve:hover {
    transform: translateY(-.5rem);
    transition: 0.3s ease-in-out;
}
.startup-section {
    max-width: 750px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.startup-index .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
}
.startup-index .s-block h3 {
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}
.startup-index .s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}
.startup-index .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: var(--card-hover-box-shadow);
    transform:translateY(-0.5rem);
}
/* .............BUSINES..........  */
.busines-index {
    background-color: var(--light-bg-color);
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.busines-index .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--text-heading);
    font-weight: 700;
}
.busines-index .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
img.img-curve:hover {
    transform: translateY(-.5rem);
    transition: 0.3s ease-in-out;
}
/* ................NUMBER............  */
.number-stats {
    background: var(--light-bg-color) ;
}
.text-white {
    color: #fff!important;
}
.number-stats .stats_info {
    background-color: var(--white-bg-color);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);;
    transition: 0.3s ease;
    border: 1px solid var(--white-boder);
}
.number-stats .stats_info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}
.number-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--text-heading);
    font-weight: 700;
}
.number-stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--text-primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
p {
    color: var(--text-color);
}
/* ................CONTACT...........  */
.contact .contact-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.contact .middle-section {
    max-width: 550px;
}
.contact .middle-section h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    }
 .contact .link-list-menu p {
        font-size: 16px;
        color: #eee;
        line-height: 24.5px;
    }

/* EXPLORE */
.explore{
   padding-bottom: 80px;
   background: var(--white-bg-color);
}
.explore .card-body{
    padding-bottom: 30px;
}
.explore .card{
    position: relative;
    border-radius: 10px;
    transition: all .5s;
    background-color: var(--card-bg-color);
}
.explore .card:hover img{
    filter: grayscale(0);
}
.explore .card:hover{
    transform: translateY(-10px);
    box-shadow: var( --card-hover-box-shadow);
}
.explore img{
    filter: grayscale(1);
    border-radius: 10px 10px 0 0;
}
.explore__year{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 600;
    background-color: var(--text-primary);
    font-size: 18px;
    padding: 15px;
    border-radius: 0 10px 0 0;
}
.explore__label{
    border-radius:25px;
    padding: 5px 16px;
    font-size:13px; 
    margin: 15px 0;
    display: inline-block;
    font-weight: 600;
}
.explore .card-title a{
    color: var(--text-heading);
    font-weight: 600;
    font-size:22px;
    transition:all .5s;
}
.explore .card:hover .card-title a{
    color: var(--text-primary);
}
.explore .card-text{
    border-bottom: 1px solid #eee;
    padding-bottom:20px;

}
.explore__label--pink{
    color:#dc4f72;
    background: rgba(238, 97, 120, 0.2);

}
.explore__label--green{
    color:#008000;
    background: rgba(0, 128, 0, 0.2)
}
.explore__label--blue{
    color:#0000ff;
    background: rgba(0, 0, 255, 0.2);
}
.explore__more{
    color: var(--text-primary);
    font-weight: 600;
}
.explore__more:hover{
    color: var(--text-primary);

}
.explore__more i{
    font-size:10px;
    transition:all .5s;
}
.explore .card:hover .explore__more i{
    padding-left: 5px;
}

/* QUESTION */
.question{
    background: var(--light-bg-color);
    padding: 50px 0 80px 0 ;
}
.question__img{
    position: sticky;
    top: 10px;
}
.question img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: var(--img-box-shadow) ;
    transition: all .5s;
}
.question img:hover{
    transform: translateY(-10px);
}
.question .accordion{
    padding-left: 30px;
}
.question .accordion .card{
    margin-bottom: 15px ;
    border-radius:5px;
    border: 1px solid var(--white-boder);
    
}
.question .accordion .card-header{
    border-radius: 5px;
    background: var(--white-bg-color);
    border-bottom: none; 
    padding: 18px 15px;
    position: relative;
}
.question .collapse {
    background: var(--white-bg-color);  
}
.question .accordion .question__btn::before{
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 3px;
    height: 9px;
    margin-top: 16px;
    right: 25px;
    top: 16px;
    transition: all 0.5s;
    transform: translate(2px, 0) rotate(45deg);
}
.question .accordion .question__btn.active::before{
    transform: translate(-2px, 0) rotate(45deg);
}
.question .accordion .question__btn::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 3px;
    height: 9px;
    margin-top: 16px;
    right: 25px;
    top: 16px;
    transition: all 0.5s;
    transform: translate(-2px, 0) rotate(-45deg);
}
.question .accordion .question__btn.active::after{
    transform: translate(2px, 0) rotate(-45deg);
}

.question .card-body{
    padding:0 20px ;

}
.question .card-body p{
  color: var(--text-color);

}
.question .btn{
    font-size: 20px;
    /* font-weight: 400; */
    color: var(--text-heading);
    padding: 0;
}
.question .btn:focus{
    box-shadow: none;
    text-decoration: none;
}
.question .btn:hover{
    text-decoration: none;

}

/* FEATURED */
.featured{
    padding: 20px 0 100px;
    background: var(--white-bg-color);
}
.featured .nav{
    display: flex;
    justify-content: space-evenly;
}
.featured .nav-tabs{
    border: 1px solid transparent;
    
}
.featured .nav-item{
    width: 33.333%;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    text-align: center;
}
.featured .nav-tabs .nav-link{
    color: var(--text-navs);
    border:none;
    border-bottom: 3px solid var(--white-boder);
}

.featured .nav-tabs .nav-link.active {
    color: var(--text-primary);
    border-bottom: 3px solid var(--text-primary);
    background: var(--white-bg-color);
}

.featured .featured__row{
    padding: 30px 0;
}
.featured__content{
    padding-left: 10px;
}
.featured__content--right{
    padding-left: 0;
}
.featured__content h3{
    font-size: 29px;
    font-weight: 600;
    padding: 0 0 12px;
    color: var(--text-heading);
}
.featured__content p{
    color: var(--text-color);
}
.featured img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .5s;
}
.featured__img{
    padding:0 10px;
    
}
.featured img:hover{
    transform: translateY(-8px);
}
.featured__btn{
    line-height: 52px;
    margin: 20px 0 0;
    padding: 0px 30px;
    
}
.featured__btn:hover{
    background-color:var(--text-primary);
}
.featured__collapse{
    display: none;
}
.featured .btn-link{
    color : var(--text-color);
    text-decoration: none;
    font-size: 20px;
}
.featured .btn:focus{
        box-shadow: none;
        text-decoration: none;
}
.featured .card-header{
    padding: 0;
}
.featured__project{
    position: relative;
}
.featured__project::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 14px;
    right: 20px;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}
.featured__project.active::before{
    transform: rotate(180deg);
}
.featured__project.active{
    background-color: white;
    border-radius: 0;
    
    border-bottom: 3px solid var(--text-primary);
}
.featured__collapse .card{
    border-radius: 0;
}
/* TESTIMONIALS */
.testimonials{
    background:linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../img/b2.jpg) no-repeat fixed center/cover;
    padding-bottom: 40px;
}
.testimonials .heading{
    color: #2c3038;
}
.testimonials .text{
    color: #5a5a5a;
}
.testimonials__main{
    padding: 80px 0 30px 0;
}
.testimonials .swiper-wrapper{
    padding-bottom: 70px;
}
.testimonials .testimonials__slide{
  display: flex;
  border-radius:10px;
  background: #fff;
  padding: 30px;
  position: relative;
  background: var(--white-bg-color);
}
.testimonials__img{
    width: 20%;
}
.testimonials .testimonials__content{
    width: 70%;
    font-size:18px 
    
}
.testimonials__icon{
    width: 10%;
    font-size: 28px;
    /* position: absolute;
    top: 0;
    left: -40px; */
    color: var(--text-color);
    opacity: 0.2;
    padding-left: 10px;
}
.testimonials__img{
    width: 100px;
    height: 100px;
}
.testimonials__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid var(--text-primary);
}
.testimonials h4{
    color: var(--text-primary);
    font-size:18px;
    margin-bottom: 0;
}
.testimonials small{
    font-size: 13px;
    color: var(--text-color);
}
.testimonials .swiper-pagination .swiper-pagination-bullet{
    width: 40px;
    height: 5px;
    margin: 5px;
    background:var(--white-bg-color);
    border-radius: 0;
    opacity: 1;
}
.testimonials .swiper-pagination .swiper-pagination-bullet:hover{
    background: var(--text-primary) ;

}
.testimonials .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--text-primary) ;
}

/* BRAND */
.brand{
    background: var(--white-bg-color);
}
.brand .brand__btn{
    line-height: 52px;
    margin: 25px 8px 0;
    padding: 0px 30px
}
.brand .main .brand__btn.active{
    background-color: var(--text-primary);
    
}
.brand .main .brand__btn.active:hover{
    background-color: #d62f58;
    
}
.brand .main .brand__btn:hover{
    background-color: var(--text-primary);
}

/* FOOTER */
.footer{
    background: var(--light-bg-color);
    padding-top: 30px;
}
.footer h3{
    color: var(--text-heading);
    font-size: 20px;
    padding: 15px 0;
    font-weight: 600;
}
.footer li{
    padding: 5px 0;
}
.footer a{
    color: var(--text-footer);
    font-size: 15px;
}
.footer a:hover{
    color: var(--text-primary);
}
.footer__right{
    padding-left: 40px;
}
.footer .footer__form{
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);

}
.footer__form h4{
    font-size: 18px;   
    color: #656f7b;
}
.footer__form input{
    background:#F7F9FC ;
    outline: none;
    border: none;
    border-radius: 5px;
    padding:12px 20px;
    width: 80%;
    
}
.footer__form input::placeholder{
    font-weight: 600;
}
.footer__form button{
    width: 20%;
    margin-left: 10px;
    border-radius:5px;
    background: var(--text-primary);
    color: #fff;
    font-weight: 600;

}
.footer form{
    display: flex;
    padding: 20px 0 10px;
}   

.footer__form p{
    color :#656f7b;
}
.footer .footer__row{
    padding-bottom: 50px;
}
.footer__copyright{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;

}

.footer__content{
    color: var(--text-color);
}
.footer__icon, .footer__content{
    padding: 30px 0;
}
.footer__icon ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__icon li{
    margin: 0 20px;
}
.footer__icon a, .footer__content a{
    color: var(--text-heading);
}

/* BACK TO TOP */
.backToTop{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 80px;
    display: block;
    width: 50px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: rgba(220, 79, 114, 0.7);
    /* box-shadow:-4px 4px 24px -10px var(--text-primary) ; */
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
}
.backToTop:hover{
    color: white;

}
/* Khi sroll cách top ...px thì hiện nút  */
.cd-top--is-visible { 
    /*  transition dùng được với thuộc tính có chữ số Muốn mượt dùng opacity */
    visibility: visible;
    opacity: 1;
}

 /* .............  */
  /*-- toggle switch --*/
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0;
  }
  
  .theme-switch input {
    display: none;
  }
  
  /*-- //toggle switch --*/
  /*-- dark and light mode styling --*/
  .mode-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
  }
  
  .gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
  }
  
  .gg-moon,
  .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
  }
  
  .gg-sun,
  .gg-sun:after,
  .gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
  }
  
  .gg-sun:after,
  .gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
  }
  
  .gg-sun:before {
    transform: rotate(-45deg);
  }
  
  .gg-sun:after {
    transform: rotate(45deg);
  }
  
  .mode-container i.gg-sun {
    display: none;
  }
  
  .mode-container i.gg-moon {
    display: block;
  }
  
  input:checked+.mode-container i.gg-sun {
    display: block;
    color: var(--text-color);
  }
  
  input:checked+.mode-container i.gg-moon {
    display: none;
  }
  
  /*-- //dark and light mode styling --*/
  button.navbar-toggler .icon-close {
    display: block;
  }
  
  button.navbar-toggler .icon-expand {
    display: none;
  }
  
  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }
  
  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  
/* MEDIA QUERY */
@media  screen and (max-width:1200px) {
    /* QUESTION */
   .question .accordion{
       padding-left: 20px;
   }
    .footer__form button{
        width: 30%;
        margin-left: 0;

    }
    
    
}

@media screen and (max-width:1128px){
    .testimonials .testimonials__content{
        padding-left: 10px;
    }
    
}

@media screen and (max-width:992px){
    /* HEADER */
    #master-header .navbar-toggler{
        background: var(--text-primary);
    }
    #master-header .navbar-toggler-icon{
      color: #fff;
      line-height:1.5em;

    }
    #master-header .navbar-toggler{
        padding: 0.25em 0.25em;
    }
    #master-header .navbar-collapse{
        background: #fff;
        text-align: center;
    }

    /* CAROUSEL */
    .carosel__content .text__lert{
        padding: 0 0 50px; 
    }
    .carosel__content .img__right{
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
    }

    /* START UP */
    /* NUMBER */
    .number-stats .stats_info--mt{
        margin-top:50px;
    }
    /* EXPLORE */
    .explore{
        padding-bottom: 0;
    }
    .explore .card{
        margin-bottom: 50px;
    }
     
    /* QUESTION */
    .question{
        padding: 0 0 50px 0;
    }
    /* FEATURE  */
    .featured{
        padding: 0px 0 50px;
    } 
    .featured__content h3{
        font-size: 26px;
    }
    /* TESTIMONIAL */
    
    .testimonials .testimonials__content{
        width: 80%;
        padding-left: 15px;
        
    }
    .testimonials .testimonials__content,
    .testimonials .testimonials__icon{
        margin-top: 15px;
    }
    .testimonials__icon{
        width: 5%;
    }

    /* FOOTER */
    .footer__right{
        padding:10px 0 0 0;
    }
    .footer__content {
        text-align: center;
        padding: 20px 0 0;
    }   
    .footer__icon ul{
       justify-content: center;
    }
    .footer__icon{
        padding: 0; 
    }
    .footer{
        padding-bottom: 50px;
    }
    .footer__copyright{
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:890px){
    .question .btn{
        font-size: 17px;
    }
}
@media screen and (max-width:768px){
    .heading{
        font-size: 40px;
    }

    /* FEATURE */
    .featured{
        padding: 0 0 80px;
    }
    .featured__collapse{
        display: block;
    }
    .featured__navs{
        display: none;
    }
    .featured__content, 
    .featured .featured__row{
        padding: 5px 0;
    }
    .featured__img{
        padding: 30px 0 20px;
    }
    .featured__btn{
        padding: 0 20px;
        line-height:45px;
        margin: 10px 0;
    }
    .featured .main{
        padding-bottom: 30px;
    }
    .featured__img--center{
        padding: 10px 0 40px;
    }
    .featured__content h3{
        font-size: 25px;
    }

    /* QUESTION */
    .question__img{
        padding-bottom: 50px;
        
    }
    .question .accordion{
        padding-left: 0;
    }
    .question .btn{
        font-size: 20px;
    }
    /* TESTIMONIAL */
    .testimonials .testimonials__content{
        padding-left: 20px;
    }
    .testimonials__main{
        padding-top: 50px;
    }

    
}
@media screen and (max-width:767px){


    /* BRAND */
    .brand .brand__btn{
        line-height:45px;
        padding: 0 20px;
    }
    
}
@media screen and (max-width:576px){
   /* MAIN */
    .heading{
        font-size: 32px;
        margin-top: 5px;
    }

    /* CAROUSEL */
    .carosel__content .img__right img{
        width: 100%;
    }
    .carosel__content .text__lert h3 {
        font-size: 40px;
        line-height: 50px;
    }  
    .startup-section h3{
        font-size: 32px;
    }
    /* NUMBER */
    .number-stats .stats_info--mb{
        margin-bottom: 20px;
    }
    .number-stats .stats_info--mt{
        margin-top: 0;
    }
    
    /* .explore .col-12,
    .question .col-12,
    .featured .col-12
    {
        padding: 0;
    } */
    /* QUESTION */
    
    .question .btn {
        font-size: 18px;
    }
    /* FEATURE */
    .featured .nav-tabs .nav-link{
        font-size: 18px;
    }
    .featured__content h3{
        font-size: 24px;
    }
    .featured .featured__row{
        padding: 5px 10px;
    }
    /* TESTIMONIAL */
    .testimonials__main{
        padding-top: 50px;
    }
    .testimonials .testimonials__content{
        padding-left: 30px;
    }
    .testimonials .testimonials__slide{
        justify-content: center;
        flex-wrap: wrap;
    }
    .testimonials__icon{
        position: absolute;
        left: 43%;
        top: 160px;
    }
    .testimonials p{
        padding: 30px 0;
        margin: 0;
    }
    .testimonials .text{
        padding: 10px 0;

    }
    .testimonials .testimonials__slide{
        padding: 30px 10px ;
        text-align: center;
    }
    .testimonials .testimonials__content {
        padding-left: 0;
        width: 100%;    
    }

    /* BRAND */
    .brand .brand__btn {
        line-height: 45px;
        padding: 0px 20px;
    }  
    
    /* FOOTER */
    .footer__form button {
        width: 30%;
        /* margin-left: 5px; */
    }
}
@media screen and (max-width:320px){
    /* QUESTION */
    .question .btn {
        font-size: 21px;
    }
    /* BRAND */
    .brand .brand__btn {
        
        margin: 10px 8px;
    }
}